<<<<<<< HEAD
=======
<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% binding.pry %>
<% end %>

>>>>>>> 868bab99d90f3432cc7be808d0f745704a25c81b
<h1><%=@genre.name%></h1>
<p>Artists</p>
<ol>
<%@genre.artists.each do |i| %>
    <li><a href='/artists/<%=i.slug%>'> <%= i.name%> </a> </li>
<%end%>
</ol>
<br>
<p>Songs</p>
<ol>
<%@genre.songs.each do |i| %>
    <li><a href='/songs/<%=i.slug%>'> <%= i.name%> </a> </li>
<%end%>
</ol>
